[Unit] 
Description=Enable eth0 
 
[Service] 
Type=oneshot 
ExecStart=/usr/bin/wifi.sh
RemainAfterExit=true 
 
[Install] 
WantedBy=multi-user.target

